.mdc-card {
    width: 100%;
}

.mdc-card__primary > * {
    text-align: center;
}

.mdc-card__primary > *:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .mdc-card {
        width: 500px;
        margin-top: 30px;
    }
}

#logo {
    width: 500px;
    height: 500px;
    max-width: 100%;
    object-fit: contain;
}