<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org" th:fragment="head" th:remove="tag">

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="/favicons/manifest.json"/>
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#00796b"/>
    <link rel="shortcut icon" href="/favicons/favicon.ico"/>
    <meta name="msapplication-config" content="/favicons/browserconfig.xml"/>
    <meta name="theme-color" content="#00796b"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"/>

    <link rel="stylesheet" href="/css/global.css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var token = [[${_csrf.token}]];
        var header = [[${_csrf.headerName}]];
        var csfHeader = {};
        csfHeader[header] = token;

        $('document').ready(function () {
            window.mdc.autoInit();

            document.querySelectorAll('.mdc-fab,.mdc-button,.mdc-ripple-surface,.mdc-temporary-drawer .mdc-list-item')
                .forEach(function (node) {
                    mdc.ripple.MDCRipple.attachTo(node);
                });
        });
        /*]]>*/
    </script>

    <script src="/js/global.js"></script>
</head>