<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dragonbrain</title>

    <th:block th:replace="head :: head" th:remove="tag"/>

    <script src="js/index.js"></script>

    <link href="css/index.css" rel="stylesheet"/>

</head>
<body class="mdc-typography">
<header th:replace="nav :: toolbar('Dragonbrain')"></header>
<aside th:replace="nav :: drawer('home')"></aside>
<div class="container mdc-toolbar-fixed-adjust">
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>