<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall" th:fragment="toolbar(title)">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <button class="demo-menu material-icons mdc-toolbar__menu-icon">menu</button>
            <span class="mdc-toolbar__title" th:text="${title}"></span>
        </section>
    </div>
    <script th:inline="javascript">
        // <![CDATA[
        $('document').ready(function () {
            var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
            toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
        });
        // ]]>
    </script>
</header>
<aside class="mdc-temporary-drawer" th:fragment="drawer(page)">
    <nav class="mdc-temporary-drawer__drawer">
        <header class="mdc-temporary-drawer__header">
            <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
                <img src="image/logo-shadow.png"/>
            </div>
        </header>
        <nav class="mdc-temporary-drawer__content mdc-list-group">
            <div class="mdc-list">
                <a class="mdc-list-item" th:classappend="${'home'.equals(page) ? 'mdc-temporary-drawer--selected' : ''}" href="/">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Home
                </a>
                <a class="mdc-list-item" th:classappend="${'projects'.equals(page) ? 'mdc-temporary-drawer--selected' : ''}" href="/projects">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Projects
                </a>
                <a class="mdc-list-item" th:classappend="${'photos'.equals(page) ? 'mdc-temporary-drawer--selected' : ''}" href="/photos">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">photo library</i>Photos
                </a>
                <a class="mdc-list-item" th:classappend="${'about'.equals(page) ? 'mdc-temporary-drawer--selected' : ''}" href="/about">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">info</i>About
                </a>
                <a class="mdc-list-item" th:classappend="${'admin'.equals(page) ? 'mdc-temporary-drawer--selected' : ''}" href="/admin"
                sec:authorize="isAuthenticated()">
                    <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">settings</i>Admin
                </a>
            </div>
        </nav>
    </nav>
    <script th:inline="javascript">
        // <![CDATA[
        $('document').ready(function () {
            var drawerEl = document.querySelector('.mdc-temporary-drawer');
            var MDCTemporaryDrawer = mdc.drawer.MDCTemporaryDrawer;
            var drawer = new MDCTemporaryDrawer(drawerEl);
            document.querySelector('.demo-menu').addEventListener('click', function () {
                drawer.open = true;
            });
            drawerEl.addEventListener('MDCTemporaryDrawer:open', function () {
            });
            drawerEl.addEventListener('MDCTemporaryDrawer:close', function () {
            });
        });
        // ]]>
    </script>
</aside>
</html>