<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
    <th:block th:replace="head :: head" th:remove="tag"/>

    <link rel="stylesheet" href="css/projects.css"/>
</head>
<body>
<header th:replace="nav :: toolbar('Projects')"></header>
<aside th:replace="nav :: drawer('projects')"></aside>
<div class="container mdc-toolbar-fixed-adjust">
    <div id="projects-div">
        <div th:each="project : ${projects}">
            <div class="mdc-card demo-card">
                <section class="mdc-card__media"
                         th:style="${'background-image: url(''' + project.image + ''')'}">
                </section>
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large" th:text="${project.name}"></h1>
                    <h2 class="mdc-card__subtitle" th:text="${project.type}"></h2>
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-button--compact mdc-card__action" th:if="${project.url != null}" th:onclick="${'openInNewTab(''' + project.url + ''');'}">View</button>
                    <button class="mdc-button mdc-button--compact mdc-card__action" th:if="${project.sourceUrl != null}" th:onclick="${'openInNewTab(''' + project.sourceUrl + ''');'}">Source</button>
                </section>
            </div>
        </div>
    </div>
    <div class="center-content">
        <a id="button-more" class="mdc-button mdc-button--stroked mdc-ripple-upgraded" target="_blank"
           href="https://github.com/Longi94">More open source projects</a>
    </div>
</div>
<footer th:replace="footer :: footer"></footer>
</body>
</html>