<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
    <th:block th:replace="head :: head" th:remove="tag"/>

    <link rel="stylesheet" href="css/projects.css"/>
</head>
<body>
<header th:replace="nav :: toolbar('Projects')"></header>
<aside th:replace="nav :: drawer('projects')"></aside>
<div class="container mdc-toolbar-fixed-adjust">
    <div id="projects-div">
        <div th:each="project : ${projects}">
            <div class="mdc-card demo-card">
                <section class="mdc-card__media"
                         th:style="${'background-image: url(''' + project.image + ''')'}">
                </section>
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large" th:text="${project.name}"></h1>
                    <h2 class="mdc-card__subtitle" th:text="${project.type}"></h2>
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-button--compact mdc-card__action" th:if="${project.url != null}" th:onclick="${'openInNewTab(''' + project.url + ''');'}">View</button>
                    <button class="mdc-button mdc-button--compact mdc-card__action" th:if="${project.sourceUrl != null}" th:onclick="${'openInNewTab(''' + project.sourceUrl + ''');'}">Source</button>
                </section>
            </div>
        </div>
    </div>
    <h2 class="mdc-typography--title mdc-typography--adjust-margin" th:if="${not #lists.isEmpty(smallProjects)}">Smaller projects</h2>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list two-line-avatar-text-icon-demo" th:if="${not #lists.isEmpty(smallProjects)}">
        <li class="mdc-list-item" th:each="project : ${smallProjects}">
            <span class="mdc-list-item__start-detail grey-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">folder</i>
            </span>
            <span class="mdc-list-item__text"><th:block th:text="${project.name}"/>
                <span class="mdc-list-item__text__secondary" th:text="${project.type}"></span>
            </span>
            <a href="#" class="mdc-list-item__end-detail material-icons" aria-label="View more information"
               title="More info" onclick="event.preventDefault();" th:if="${project.url != null}" th:href="${project.url}">
                info
            </a>
        </li>
    </ul>
</div>
</body>
</html>